<!-- <mat-card>
  <mat-card-header>
    <mat-card-subtitle>Summary</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <table class="table">
      <thead>
        <tr>
          <th>AssignmentId</th>
          <th>AssignmentName</th>
          <th>Designation</th>
          <th>Employee</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>{{selectedInvoiceDetail.AssignmentId}}</td>
          <td>{{selectedInvoiceDetail.AssignmentName}}</td>
          <td>{{selectedInvoiceDetail.Designation}}</td>
          <td>{{selectedInvoiceDetail.Employee}}</td>
          <td>{{selectedInvoiceDetail.Amount}}</td>
        </tr>
      </tbody>
      
    </table>
  </mat-card-content>
</mat-card> -->

<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Summary</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <table class="table">
      <thead>
        <tr>
          <th>InvoiceId</th>
          <th>Employee</th>
          <th>Assignment</th>
          <th>Rate</th>
          <th>Unit</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor = "let selectedInvoice of selectedInvoice">
          <td>{{selectedInvoice.invoiceId}}</td>
          <td>{{selectedInvoice.name}}</td>
          <td>{{selectedInvoice.assignmentName}}</td>
          <td>{{selectedInvoice.rate}}</td>
          <td>{{selectedInvoice.unit}}</td>
          <td>{{selectedInvoice.totalPaid}}</td>
        </tr>
      </tbody>
      <tfoot>
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{allTotal}}</td>
      </tfoot>
    </table>
  </mat-card-content>
</mat-card>


<div mat-dialog-actions>
<button mat-button (click)="cancelClick() " color="warn">Cancel</button>
<button (click)="printInvoice()" mat-raised-button color="primary">Print</button>
</div>