<div class="product-container">
  <button mat-raised-button color="primary" (click) ='transactionAdd()'>Add</button> &nbsp;&nbsp;&nbsp;
  <button mat-raised-button color="primary" (click) ='transactionEdit()'>Edit</button> &nbsp;&nbsp;&nbsp;
  <button mat-raised-button color="primary" (click) ='invoiceGenerate()'>Generate Invoice</button>
</div>
 
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


   <!-- Checkbox Column -->
   <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selectionBox.hasValue() && isAllSelected()"
                    [indeterminate]="selectionBox.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selectionBox.toggle(row) : null"
                    [checked]="selectionBox.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="transactionId">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.TransactionId}} </td>
  </ng-container>
  <ng-container matColumnDef="designation">
    <th mat-header-cell *matHeaderCellDef> Job Title </th>
    <td mat-cell *matCellDef="let element"> {{element.Designation}} </td>
  </ng-container>
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> FirstName </th>
    <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
</ng-container>


<ng-container matColumnDef="organizationName">
  <th mat-header-cell *matHeaderCellDef> Company Name </th>
  <td mat-cell *matCellDef="let element"> {{element.OrganizationName}} </td>
</ng-container>

<ng-container matColumnDef="unit">
  <th mat-header-cell *matHeaderCellDef> Hour </th>
  <td mat-cell *matCellDef="let element"> {{element.Unit}} </td>
</ng-container>

<ng-container matColumnDef="rate">
  <th mat-header-cell *matHeaderCellDef> Payment </th>
  <td mat-cell *matCellDef="let element"> {{element.Rate}} </td>
</ng-container>

<ng-container matColumnDef="totalPaid">
  <th mat-header-cell *matHeaderCellDef> Total Amount </th>
  <td mat-cell *matCellDef="let element"> {{element.TotalPaid}} </td>
</ng-container>


<ng-container matColumnDef="invoiceId">
  <th mat-header-cell *matHeaderCellDef> InvoiceId </th>
  <td mat-cell *matCellDef="let element"> {{element.InvoiceId}} </td>
</ng-container>
<ng-container matColumnDef="insertPersonId">
  <th mat-header-cell *matHeaderCellDef> Created By </th>
  <td mat-cell *matCellDef="let element"> {{element.InsertPersonId}} </td>
  </ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClick($event,row)"
[ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}" (mouseover)="row.hovered = true"
(mouseout)="row.hovered = false"></tr>



</table>
