<h2 mat-dialog-title>{{action}}</h2> 

  <form [formGroup]="customerForm"
        novalidate>
        <mat-error *ngIf="errorMessage">
          {{errorMessage}}
        </mat-error>
       
    
    <mat-form-field class="mat-text">
      <input matInput type="text" 
             placeholder="Customer Name"
             formControlName="organizationName"
             [(ngModel)]="selectedCustomer.organizationName">      
    </mat-form-field>
    <br>
    <mat-form-field class="mat-text">
      <input matInput type="text"
             placeholder="Category"
             formControlName="organizationCategory"
             [(ngModel)]="selectedCustomer.organizationCategory">
    </mat-form-field>
    
   <mat-form-field class="mat-text">
    <input matInput type="text" 
           placeholder="Description" 
           formControlName="organizationDescription"
           [(ngModel)]="selectedCustomer.organizationDescription">
  </mat-form-field>
  
 <mat-form-field class="mat-text">
   <input matInput type="text"
          placeholder="Country"
          formControlName="country"
          [(ngModel)]="selectedCustomer.country">
 </mat-form-field>
<mat-form-field class="mat-text">
 <input matInput type="text" 
        placeholder="Province" 
        formControlName="province"
        [(ngModel)]="selectedCustomer.province">
</mat-form-field>
<mat-form-field class="mat-text">
<input matInput type="text" 
       placeholder="State" 
       formControlName="state"
       [(ngModel)]="selectedCustomer.state">
</mat-form-field>
<mat-form-field class="mat-text">
  <input matInput type="text"
         placeholder="Mobile"
         formControlName="phone"
         [(ngModel)]="selectedCustomer.phone">
</mat-form-field>
<mat-form-field class="mat-text">
<input matInput type="text" 
       placeholder="Email" 
       formControlName="email"
       [(ngModel)]="selectedCustomer.email">
</mat-form-field>
<mat-form-field class="mat-text">
<input matInput type="text" 
      placeholder="Telephone" 
      formControlName="telephone"
      [(ngModel)]="selectedCustomer.telephone">
</mat-form-field>
  </form>
  <mat-dialog-actions>
    <button mat-button (click)='onSubmit()' [disabled]="!customerForm.valid" >Add</button>
    <button mat-button  (click)='onClose()' > Cancel</button>
  </mat-dialog-actions>


