
<h2 mat-dialog-title>{{action}}</h2> 

  <form [formGroup]="assignmentForn"
        novalidate>
        <mat-error *ngIf="errorMessage">
          {{errorMessage}}
        </mat-error>
       
    
    <mat-form-field class="mat-text">
      <input matInput type="text" 
             placeholder="Assignment Name"
             formControlName="assignmentName"
             [(ngModel)]="selectedAssignment.AssignmentName">      
    </mat-form-field>


    
    <br>
    <!-- <mat-form-field class="mat-text">
      <input matInput type="text"
             placeholder="FirstName"
             formControlName="firstName"
             [(ngModel)]="selectedAssignment.FirstName">
    </mat-form-field> -->
    <mat-form-field appearance="fill">
      <mat-label>Employee</mat-label>
      <mat-select formControlName="employeeId"  [(ngModel)]="selectedAssignment.EmployeeId">
        <mat-option *ngFor="let cust of employees" [value] = "cust.employeeId" >
          {{cust.firstName}}
        </mat-option>
      </mat-select>
    </mat-form-field>&nbsp;&nbsp;
 <mat-form-field appearance="fill">
  <mat-label>Job</mat-label>
  <mat-select formControlName="jobId"  [(ngModel)]="selectedAssignment.JobId">
    <mat-option *ngFor="let job of jobs" [value] = "job.jobId" >
      {{job.designation}}
    </mat-option>
  </mat-select>
</mat-form-field> &nbsp;
<mat-form-field class="mat-text">
 <input matInput type="text" 
        placeholder="Status" 
        formControlName="status"
        [(ngModel)]="selectedAssignment.Status">
</mat-form-field>

  </form>
  <mat-dialog-actions>
    <button mat-button (click)='onSubmit()' [disabled]="!assignmentForn.valid" >Add</button>
    <button mat-button  (click)='onClose()' > Cancel</button>
  </mat-dialog-actions>


